/* Mobile Devices Responsive */
@media screen and (max-width: 576px) {
    .header-container, 
    .nav-bar>ul,
    .banner-container{
        flex-direction: column;
        gap: 20px;
    }
    .follow-us-btn,
    .banner-content{
        width: auto;
        padding: 10px;
        align-items: center;
    }
    .banner-img{
        width: calc(100% - 30px);
    }
    .logo>h2{
        font-size: 2rem;
    }
    .gamer-container{
        flex-direction: column-reverse;
        padding: 20px 0;
        margin-top: 50px;
    }
    .gamer-section-img{
        width: calc(100% - 50px);
    }
    .gamer-section-content{
        width: calc(100% - 50px);
        text-align: center;
    }
}

/* tablet responsive */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .header-container,
    .banner-container{
        flex-direction: column;
        gap: 30px;
    }
    .banner-content,
    .nav-bar{
        width: auto;
        align-items: center;
    }
    .banner-img{
        width: calc(100% - 30px);
    }
    .nav-bar>ul{
        gap: 25px;
    }
    .gamer-container{
        flex-direction: column-reverse;
        padding: 40px 0;
        margin-top: 50px;
    }
    .gamer-section-img{
        width: calc(100% - 50px);
    }
    .gamer-section-content{
        width: calc(100% - 50px);
        text-align: center;
    }
}